section.pre-footer-corporate
  .shell
    .range.range-xs-center.range-md-left.range-30.range-sm-60
      .cell-xs-10.cell-sm-6.cell-md-10.cell-lg-3
        h6 About
        p Furni is one of the leading online stores providing affordable and reliable furniture to all American citizens. After years of development, we continue to share our passion and excitement for all things “home” by providing quality products, timeless designs and expert guidance.

      .cell-xs-10.cell-sm-6.cell-md-3.cell-lg-3
        h6 Navigation
        ul.list-xxs
          li: a(href='#') BEDROOM
          li: a(href='#') DINING ROOM
          li: a(href='#') LIVING ROOM
          li: a(href='#') OFFICE


      .cell-xs-10.cell-sm-6.cell-md-5.cell-lg-3
        h6 Recent Comments
        ul.list-xs
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Meet the Brand of the Week: KEM WEBER’s Furniture
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Furniture styles profile: Art Deco
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Meet the Brand of the Week: KEM WEBER’s Furniture

      .cell-xs-10.cell-sm-6.cell-md-4.cell-lg-3
        h6 Contacts
        ul.list-xs
          li
            dl.list-terms-minimal
              dt Address
              dd 4578 Marmora Road, Glasgow, D04 89GR

          li
            dl.list-terms-minimal
              dt Phones
              dd: ul.list-semicolon
                li: a(href='callto:#') (800) 123-0045
                li: a(href='callto:#') (800) 123-0045

          li
            dl.list-terms-minimal
              dt E-mail
              dd: a(href='mailto:#') info@demolink.org

          li
            dl.list-terms-minimal
              dt We are open
              dd Mn-Fr: 10 am-8 pm

='\n'

footer.footer-corporate
  .shell
    .footer-corporate__inner
      p.rights
        span!=brandName
        span &nbsp;
        span(id="copyright-year")
        | .
        if(footerLink)
          // {%FOOTER_LINK}

      ul.list-inline-xxs
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-pinter