$font-family-sans-serif: Inter, sans-serif;
$font-family-base: Inter, sans-serif;
$gray-dark: #888;
$gray : #efefef;

$lg-path-fonts : '../../../fonts/site/lg';
$lg-path-images: '../../../images/site/lg';
