extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-shop-grid
include ../elements/_ui-pagination-classic

block variables
  - var activeIndex = 1
  - var pageName = 'Shop Grid'

block page
  // Page header
  include ../sections/_header-inverse

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-md.bg-white
    .shell
      .range.range-60.range-md-reverse
        .cell-md-9.section-divided__main.section-divided__main-left
          .section-sm
            .filter-shop-box
              p
                | Showing 1–12 of 15 results

              .form-wrap
                //Select 2
                select.form-input.select-filter(data-placeholder="Default sorting" data-minimum-results-for-search="Infinity")
                  option Default sorting
                  option(value="2") Sort by popularity
                  option(value="3") Sort by average rating
                  option(value="4") Sort by newness
                  option(value="5") Sort by price: low to high
                  option(value="6") Sort by price: high to low

            .range.range-xs-center.range-70
              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'garda-square-sideboard-for-living-and-dining-room-by-dallagnese-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'featured',
                  label_text: 'Featured',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Garda square sideboard for living room',
                  prices: ['48'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart',

                  rating_list: true
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'emma-chairs-and-table-for-kitchen-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'new',
                  label_text: 'New',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Italian emma chairs and table wooden for kitchen',
                  prices: ['69'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'italian-furniture-contemporary-allumen-fixed-or-extendable-glass-top-table-by-sedit-2-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'sale',
                  label_text: 'Sale',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Italian furniture contemporary allumen GLASS TABLE',

                  price_class:'sale-price',
                  prices: ['45','56'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart',

                  rating_list: true
                })

              // 2 row
              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'italian-furniture-contemporary-mix-steel-base-wooden-table-top-dining-table-by-sedit-2-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Italian furniture contemporary mix steel base WOODEN SET',
                  prices: ['87'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'modern-small-cucciolo-2-seater-sofa-domingo-salotti-1-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Modern small cucciolo 2 seater sofa domingo salotti',
                  prices: ['16'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'my-italian-living-contemporary-manila-leather-blue-dining-chair-by-imperial-line-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'My italian living contemporary manila leather BLUE CHAIR',
                  prices: ['44'],

                  button_class: 'button-gray-base',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart',
                  rating_list: true
                })

              // 3 row
              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'Porta-venezia-kitchen-bar-dining-stool-by-infiniti-design-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Porta venezia kitchen bar dining stool by infiniti design',
                  prices: ['82'],

                  button_class: 'button-gray-light-outline',
                  button_icon_class: 'linear-icon-magic-wand',
                  button_text: 'Select options'
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'santarossa_plastic_transparent_glossy_chair-1-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Santarossa plastic transparent glossy chair',
                  prices: ['40'],

                  button_class: 'button-gray-light-outline',
                  button_icon_class: 'linear-icon-magic-wand',
                  button_text: 'Select options'
                })

              .cell-sm-6.cell-lg-4
                +shop-grid({
                  href: 'single-product.html',
                  img: 'slamp-lighting-italain-designer-floor-lamp-contemporary-design-1-300x300',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Living Room', 'Dining room' ,'Office' ,'Bedroom'],

                  title: 'Slamp italian floor lamp luxury italian lighting',
                  prices: ['43'],

                  button_class: 'button-gray-light-outline',
                  button_icon_class: 'linear-icon-magic-wand',
                  button_text: 'Select options',
                  rating_list: true
                })

          // Pagination
          section.section-sm
            +pagination-classic(1,
              [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}],
              null,
              {"title": "", "href": "#"}
            )

        .cell-md-3.section-divided__aside.section__aside-left
          include ../sections/_section-aside-sidebar-shop

  // Page Footer
  include ../sections/_footer-corporate