extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 0
  - var pageName = 'Footer corporate'

block page
  // Page header
  include ../sections/_header-inverse

  +breadcrumbs({
    path: [['Footers', '#'], [pageName]]
  })
 
  section.section-lg.bg-white
    .shell
      .range.range-50.range-sm-middle
        .cell-sm-6
          h3.wow.fadeInUpSmall(data-wow-delay=".2s" data-wow-duration='1.2s') About store
          p.wow.fadeInUpSmall(data-wow-delay=".5s" data-wow-duration='1.2s') Mary's interest in furniture and everything related to it began in her father's local chairs & tables store in Virginia... Starting off as his helper and accountant, she eventually grew fond of the whole thing and began to consider an option of starting her own furniture store in the big city. With her first store in Arlington in 1999, Mary's chain began to gradually expand, now consisting of more than 5 furniture stores nationwide...
        .cell-sm-6.text-center
          +jpg('about-3-418x418','img-circle wow fadeInUpSmall')


  section.section-limit.bg-gray-lighter.bg-image.bg-image-1
    .shell
      .range.range-sm-right
        .cell-sm-7.cell-md-6.section-xl.section-xl_bigger
          h3.wow.fadeInUpSmall(data-wow-delay=".2s" data-wow-duration='1.2s') Best US & UK furniture brands...
          p.wow.fadeInUpSmall(data-wow-delay=".5s" data-wow-duration='1.2s') We sell only the best furniture sets and pieces, manufactured in either US, Canada or the UK...  All of our range includes only brands with long-lasting reputation, which have been proved as popular among people for years...

  // Page Footer
  include ../sections/_footer-corporate

