.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 17.5px 15px;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &-item {
    display: block;
    list-style: none;
    color: #000;

    & + .breadcrumb-item {
      padding-left: 0.5rem;

      &::before {
        content: "";
        display: inline-block;
        position: relative;
        bottom: -2px;
        height: 14px;
        padding: 0 20px;
        background-image: url($chevron-right);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
      }


    }

    a {
      font-family: Open Sans Regular, sans-serif;
      font-size: 14px;
      color: #9d9d9c;

      &:hover,
      &:focus {
        color: #000;
      }
    }

    &.active {
      cursor: default;
    }
  }


}