.btn-link-block {
	display: inline-block;
	border-radius: 50px;
	border: 2px solid transparent;
	cursor: pointer;

}

.btn-link-block-g {
	display: inline-block;
	padding: 12px 27px;
	background-image: linear-gradient(90deg, $color-base-gradient-1, $color-base-gradient-2);
	border-radius: 50px;
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	color: #ffffff;
	transition: all 1s ease;
}

.btn-link-block .btn-link-block-g[data-toggle="modal"] {
	color: #ffffff;
}

.btn-link-block .btn-link-block-g[data-dismiss="modal"] {
	color: #ffffff;
}

a:not([href]) {
	color: #000000;
}

.btn-link-lg {
	color: #ffffff;
}

.btn-link-block:hover {
	background-image: none;
	background-color: transparent;
	color: #ee6e1f;
	border: 2px solid #ef6f20;
}

.btn-link-block:hover .btn-link-block-g {
	background-image: none;
	background-color: transparent;
}

.btn-link-block:hover .btn-link-block-g {
	color: #ef6f20;
}

.btn-link-block-invert {
	display: inline-block;
	border-radius: 50px;
	border: 2px solid transparent;
	cursor: pointer;
	border: 1px solid #ef6f20;
}

.btn-link-block-g-invert {
	display: inline-block;
	padding: 12px 27px;
	/*background-color: #fff;*/
	border-radius: 50px;
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	color: #ef6f20;
	white-space: nowrap;
	transition: all 1s ease;
}

.btn-link-favorites.active {
	background-image: linear-gradient(90deg, #ef6f20, #ec900f);
	color: #ffffff;
}

.btn-link-block-invert:hover .btn-link-block-g-invert  {
	display: inline-block;
	padding: 12px 27px;
	background-image: linear-gradient(90deg, #ef6f20, #ec900f);
	border-radius: 50px;
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.button-1 {
	position: relative;
	display: inline-block;
	padding: 12px 24px;
	background-image: linear-gradient(90deg, #ef6f20, #ec900f);
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	color: #ffffff;
	transition: all .5s ease .15s;
	border-width: 2px;
	border-style: solid;
	//border-radius: 50px;
	border-image-source: linear-gradient(90deg, #ef6f20, #ec900f);
	border-image-slice: 1;

	border-image-source: linear-gradient(90deg, #ef6f20, #ec900f);
	border-image-slice:100% 100% fill;
	border-image-repeat: round;
	border-radius: 50px;

	&:hover {
		background: transparent;
		color:#ef6f20;
	}
}


//new
.button {
	position: relative;
	display: inline-block;
	min-width: 120px;
	padding: 12px 24px;

	border: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(90deg, $color-base-gradient-1, $color-base-gradient-2 );
	background-image: linear-gradient(90deg, $color-base-gradient-1, $color-base-gradient-2 );

	text-align: center;
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	background-color: transparent;
	color: #ffffff;
	overflow: hidden;
	transition: all .35s ease 0s;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	span {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 300ms ease;
	}

	&:hover, &.added {
		background-image: none;
		color: $color-base-gradient-1;
		box-shadow:none;
		z-index: 1;

		&::after {
			z-index: auto;
		}

		span {
			position: absolute;
			width: 100%;
			height: 100%;
			background: transparent;
			&.xx {
				transform: translate3d(0px, 0px, 0px) !important;
			}
		}
	}
	&.added::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translate3d(0px, 0px, 0px) !important;
	}
}