$icon-color: '%23000' !default;
$chevron-down: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='" + $icon-color +"' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E" !default;
$chevron-right: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='" + $icon-color +"' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E" !default;
$menu: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='4' width='16' height='1'%3E%3C/rect%3E%3Crect x='2' y='9' width='16' height='1'%3E%3C/rect%3E%3Crect x='2' y='14' width='16' height='1'%3E%3C/rect%3E%3C/svg%3E" !default;

.nav-menu {
  position: relative;
  display: flex;
}


.nav-head-menu {
  position: relative;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  user-select: none;
  //cursor: pointer;

  &:hover {
    background-color: #ffffff;

    .head-menu--container {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }

    .head-menu--title::after {
      transform: rotate(180deg);
    }
  }
}

.head-menu {

  &--title {
    position: relative;
    margin: 0 50px;
    font-size: 14px;
    color: #000;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 21px;
      height: 21px;
      margin-left: 10px;
      background-image: url($chevron-down);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      transition: transform 0.2s ease 0.15s;

    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 21px;
      height: 21px;
      margin-right: 10px;
      background-image: url($menu);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
  }

  &--container {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    @media (min-width: 992px) {
      width: calc( 930px / 3 );
    }
    @media (min-width: 1200px) {
      width: calc( 1110px / 3 );
    }
  }
}

.nav-head-menu:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &:not(:first-of-type) {
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out .1s
  }

  &-view {
    position: relative;
    min-height: 600px;
    max-height: calc(100vh - 300px);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: auto;

    &.box-grey {
      background-color: #f5f5f5;
      .box-list__link {

      }
    }

    &.box-white {
      background-color: #ffffff;
    }
  }

  &-list {
    overflow-y: auto;
    max-height: 570px;

    &__inner {
      &:hover {
        & > .box {
          visibility: visible;
          left: 100%;
          opacity: 1;
        }
        & > .box-list__link {
          a {
            color: #000;

            &:after {
              transform: rotate(180deg);
            }
          }

          &.box-list-white a {
            background-color: #f5f5f5;
          }

          &.box-list-grey a {
            background-color: #ffffff;
          }
        }
      }
    }

    &__link {
      position: relative;

      &.box-list-white a {
        border-color: #f5f5f5;
      }

      &.box-list-grey a {
        border-color: #ffffff;
      }

      a {
        position: relative;
        display: block;
        padding: 15px 30px 15px 50px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
      }

      &.box-list-arrow a:after {
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        right: 28px;
        width: 15px;
        height: 15px;
        font-size: 9px;
        background-image: url($chevron-right);
        background-repeat: no-repeat;
        background-position: center;
        color: #000;
        transition: transform .15s ease-in-out;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .head-menu--title{
    font-size: 14px;
  }
  .head-menu--title::after {
    top: 3px;
    right: -28px;
  }
  .nav-menu--item:hover .head-menu--title::after {
    transform: rotate(270deg);
  }
  .head-menu {
    position: absolute;
    top: 65px;
    left: 0;
    padding: 15px 0;
    height: 500px;
    width: 150%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .nav-head-menu:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)
  }
  .head-menu .level-2,
  .head-menu .level-3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
  }
  .head-menu .level-3 {
    width: calc(930px - 200%);
  }
  .level-1__wrap,
  .level-2__wrap,
  .level-3__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .level-1__wrap,
  .level-2__wrap,
  .level-3__wrap {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .head-menu__category--name {
    padding: 15px 30px 15px 90px;
  }
  .head-menu__subcategory--link {
    padding: 6px 0;
    font-size: 12px;
  }
  .head-menu__category--name,
  .head-menu__subcategory--name,
  .head-menu__subcategory--link {
    display: block;
  }
  .level-3__wrap {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 110px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding-right: 30px;
    padding-left: 30px;
    height: 100%;
    overflow-y: scroll;
  }
  .nav-menu--item:hover .head-menu {
    top: 71px;
    opacity: 1;
    visibility: visible;
  }
  .head-menu__category--name-wrap.category-arrow:after,
  .head-menu__subcategory--name-wrap.category-arrow:after {
    right: 28px;
  }
  .head-menu__category:hover .head-menu__category--name {
    background-color: #f5f5f5;
  }
  .head-menu__subcategory:hover .head-menu__subcategory--name {
    background-color: #ffffff;
  }
  .level-1__wrap .head-menu__category:first-child .head-menu__category--name {
    //border-top: 1px solid #f5f5f5;
  }
  .level-2__wrap .head-menu__subcategory:first-child .head-menu__subcategory--name {
   // border-top: 1px solid #ffffff;
  }
  .head-menu__category:hover > .head-menu__category--name-wrap.category-arrow:after,
  .head-menu__subcategory:hover > .head-menu__subcategory--name-wrap.category-arrow:after {
    transform: rotate(180deg);
  }
}
@media (max-width: 991.98px) {

  .nav-menu > li:not(:first-child) {
    border-bottom: 1px solid #f5f5f5;
  }

  .head-menu--title {
    position: relative;
    display: block;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    padding: 20px 35px 20px 30px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
  }
  .head-menu--title::after {
    top: calc(50% - 7.5px);
    right: 26px;
  }
  .head-menu {
    display: none;
  }
  .head-menu .level-2,
  .head-menu .level-3 {
    display: none;
  }
  .head-menu__category--name-wrap {
    padding: 20px 40px 20px 75px;
  }
  .head-menu__subcategory--name-wrap {
    padding: 20px 40px 20px 30px;
  }
  .head-menu__category--name-wrap.category-arrow:after,
  .head-menu__subcategory--name-wrap.category-arrow:after {
    right: 30px;
    transform: rotate(90deg);
  }
  .level-3__link {
    display: block;
    padding: 20px 35px 20px 30px;
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
  }
  .level-3__link--img {
    display: none;
  }
  /*:hover*/
  .nav-menu--item.show .head-menu--title::after {
    transform: rotate(270deg);
  }
  /*:hover*/
  .nav-menu--item.show .head-menu {
    display: block;
    visibility: visible;
  }
  /*:hover*/
  .head-menu__category .head-menu__category--name-wrap.show + div.level-2,
  .head-menu__subcategory .head-menu__subcategory--name-wrap.show + div.level-3 {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  /*:hover*/
  .head-menu__category--name-wrap.show.category-arrow:after,
  .head-menu__subcategory--name-wrap.show.category-arrow:after {
    transform: rotate(270deg);
  }
}