.header-topline {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	&__languages {
		display: flex;
		justify-content: flex-end;
		a {font-weight: 700}
		span {font-weight: 400}
		.lang-item {
			text-transform: uppercase;
			&:first-child {
				position: relative;
				margin-right: 12px;

				&::after {
					content: '/';
					position: absolute;
					top: 0;
					right: -8px;
					font-weight: 400;
				}
			}
		}
	}
}
.header-favorites-count {
	position: absolute;
	top: -10px;
	right: -12px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 4px;
	min-width: 18px;
	height: 16px;
	border-radius: 50px;
	font-size: 12px;
	line-height: 1;
	background-color: #000;
	color: #fff;
}