* + .carousel-product {
	margin-top: 30px;
}

.product-grid {
	text-align: center;
}

.product-grid * + .button {
	margin-top: 10px;
}

.product-grid .product-icon-wrap {
	position: absolute;
	top: 5px;
	right: 5px;

	.icon.selected {
		color: #000;
	}
}

.desktop .product-grid .product-icon-wrap > *,
.desktop .product-grid .product-label-wrap {
	transition: 350ms ease-out;
}


.product-caption {
	margin-top: 15px;
}

/* icon heart */
.product-img-wrap {
	position: relative;
	max-width: 400px;
	display: inline-block;


	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #c7c7c7;
		cursor: pointer;


		&:hover {
			color: $gray-dark;
		}
	}
}

.linear-icon-heart.selected {
	color: #000;
}

.favorites .product-img-wrap .icon::before {
	content: "\E92A";
}

.product-label-wrap {
	position: absolute;
	left: 20px;
	top: 20px;
	color: #fff;
	font-size: 12px;
	font-style: italic;

	> * {
		display: inline-block;
		padding: 2px 6px;
		border-radius: 4px;
	}

	.featured {
		background-color: #ffc045;
	}

	.sale {
		background-color: #ff596d;
	}

	.new {
		background-color: #000;
	}
}

.product-categories { 
	> li {
		display: inline-block;
	}

	> li:after {
		content: ",";
		display: inline-block;
	}

	> li:last-of-type:after {
		content: none;
	}

	a {
		font-size: 12px;
		color: #888;
		font-style: italic;
	}

	a:hover {
		color: #000;
	}
}

.product-title {
	font-size: 16px;
	line-height: 1.6;

	@media (min-width: 768px) {
		font-size: 20px;
	}

	a {
		color: #000;
	}

	.product-title a:hover {
		color: #888;
	}
}
* + .product-title {
	margin-top: 5px;
}

.product-price {
	font-size: 18px;
	font-weight: 400;

	span {
		font-size: 32px;
		color: #000;

		&::after {
			content: "₴";
			display: inline-block;
			margin-left: 4px;
		}
	}

	&.sale-price span {
		padding: 0 3px;
	}

	&.sale-price span:first-of-type {
		color: #ff596d;
	}

	&.sale-price span:last-of-type {
		position: relative;
		display: inline-block;
		color: #888;
		font-size: 18px;
	}

	&.sale-price span:last-of-type:after {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		border-top: 1px solid;
		content: "";
		display: inline-block;
	}
}
* + .product-price {
	margin-top: 7px;
}