.main-pops {
	text-align: center;
}

.main-pops__title {
	padding-top: 75px;
	font-family: $font-family-sans-serif;
	font-size: 44px;
	color: #000000;
}

.main-pops__btn {
	margin-top: 65px;
	justify-content: center;
}

.bgc-grad .main-pops__btn-mx, .main-pops__btn-cr {
	background-color: #303b47;
	border: 1px solid #4e5d6d;
}

.main-pops__btn > .active {
	background-color: #ee6e1f;
	color: #ffffff !important;
	border: 1px solid #ef6f20;

}

.table-products {
    &__row {
        margin: 0;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
    }
}

.tabs-products {
	&__caption {
		text-align: center;
		padding-top: 75px;
		margin-bottom: 24px;

		div {
			font-family: $font-family-sans-serif;
			font-size: 44px;
			color: #000000;
		}
		p {
			font-family: $font-family-base;
			font-size: 16px;
			color: #9d9d9d;
		}
	}
	&__btn-group {
		display: flex;
		justify-content: center;
		margin-bottom: 16px;

		.btn-item {
			display: flex;
			align-items: center;

            @media (min-width: 576px) {
                padding: 10px 25px;
            }
            padding: 10px 15px;

            margin-left: -1px;
			border: 1px solid #cccccc;
			border-radius: 0;
			font-family: Open Sans Semibold, sans-serif;
			background-color: #fff;
			color: #9d9d9c;
			white-space: normal;

			&.active {
				//background-color: #ef6f20;
				//border-color: #ef6f20;
				color: #fff;
				background-image: linear-gradient(90deg, $color-base-gradient-1, $color-base-gradient-2);
			}
		}
	}

	&__container {
		.container-item {
			&:not(.active) {
				display: none;
			}

			&__card {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__profit {
		min-width: 12px;
		height: 20px;
		margin-top: 2px;
		padding: 2px 12px;
		border-radius: 50px;
		background-color: #ec3f33;
		text-align: center;
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		white-space: nowrap;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .35);

		@media (max-width: 768px) {
			padding: 2px 5px;
		}
	}

	&__add-to-cart {
		@media (max-width: 992px) {
			margin-top: 15px;
		}
	}
}

