/*
*   3. Helpers
*     3.1 Text-alignment
*     3.2 Text-styling
*     3.3 Visibility responsive
*     3.4 Groups
*     3.5 Context Styling
*     3.6 Sections
*     3.7 Offsets
*/
.context-dark, .bg-primary,
.bg-secondary-7, .bg-gray-dark, .bg-gray-base, .bg-gray-darker, .bg-image-6 {
	color: #fff;
}

.context-dark h1, .bg-primary h1,
.bg-secondary-7 h1, .bg-gray-dark h1, .bg-gray-base h1, .bg-gray-darker h1, .bg-image-6 h1, .context-dark h2, .bg-primary h2,
.bg-secondary-7 h2, .bg-gray-dark h2, .bg-gray-base h2, .bg-gray-darker h2, .bg-image-6 h2, .context-dark h3, .bg-primary h3,
.bg-secondary-7 h3, .bg-gray-dark h3, .bg-gray-base h3, .bg-gray-darker h3, .bg-image-6 h3, .context-dark h4, .bg-primary h4,
.bg-secondary-7 h4, .bg-gray-dark h4, .bg-gray-base h4, .bg-gray-darker h4, .bg-image-6 h4, .context-dark h5, .bg-primary h5,
.bg-secondary-7 h5, .bg-gray-dark h5, .bg-gray-base h5, .bg-gray-darker h5, .bg-image-6 h5, .context-dark h6, .bg-primary h6,
.bg-secondary-7 h6, .bg-gray-dark h6, .bg-gray-base h6, .bg-gray-darker h6, .bg-image-6 h6, .context-dark .heading-1, .bg-primary .heading-1,
.bg-secondary-7 .heading-1, .bg-gray-dark .heading-1, .bg-gray-base .heading-1, .bg-gray-darker .heading-1, .bg-image-6 .heading-1, .context-dark .heading-2, .bg-primary .heading-2,
.bg-secondary-7 .heading-2, .bg-gray-dark .heading-2, .bg-gray-base .heading-2, .bg-gray-darker .heading-2, .bg-image-6 .heading-2, .context-dark .heading-3, .bg-primary .heading-3,
.bg-secondary-7 .heading-3, .bg-gray-dark .heading-3, .bg-gray-base .heading-3, .bg-gray-darker .heading-3, .bg-image-6 .heading-3, .context-dark .heading-4, .bg-primary .heading-4,
.bg-secondary-7 .heading-4, .bg-gray-dark .heading-4, .bg-gray-base .heading-4, .bg-gray-darker .heading-4, .bg-image-6 .heading-4, .context-dark .heading-5, .bg-primary .heading-5,
.bg-secondary-7 .heading-5, .bg-gray-dark .heading-5, .bg-gray-base .heading-5, .bg-gray-darker .heading-5, .bg-image-6 .heading-5, .context-dark .heading-6, .bg-primary .heading-6,
.bg-secondary-7 .heading-6, .bg-gray-dark .heading-6, .bg-gray-base .heading-6, .bg-gray-darker .heading-6, .bg-image-6 .heading-6 {
	color: #fff;
}

.context-dark a, .bg-primary a,
.bg-secondary-7 a, .bg-gray-dark a, .bg-gray-base a, .bg-gray-darker a, .bg-image-6 a, .context-dark a:active, .bg-primary a:active,
.bg-secondary-7 a:active, .bg-gray-dark a:active, .bg-gray-base a:active, .bg-gray-darker a:active, .bg-image-6 a:active, .context-dark a:focus, .bg-primary a:focus,
.bg-secondary-7 a:focus, .bg-gray-dark a:focus, .bg-gray-base a:focus, .bg-gray-darker a:focus, .bg-image-6 a:focus {
	color: inherit;
}

.context-dark a:hover, .bg-primary a:hover,
.bg-secondary-7 a:hover, .bg-gray-dark a:hover, .bg-gray-base a:hover, .bg-gray-darker a:hover, .bg-image-6 a:hover {
	color: #888;
}

.section-limit.context-dark, .section-limit.bg-primary,
.section-limit.bg-secondary-7, .section-limit.bg-gray-dark, .section-limit.bg-gray-base, .section-limit.bg-gray-darker, .section-limit.bg-image-6 {
	color: #fff;
}

.context-dark .button-link:hover, .bg-primary .button-link:hover,
.bg-secondary-7 .button-link:hover, .bg-gray-dark .button-link:hover, .bg-gray-base .button-link:hover, .bg-gray-darker .button-link:hover, .bg-image-6 .button-link:hover {
	color: #fff;
}

.context-dark .blurb__title, .bg-primary .blurb__title,
.bg-secondary-7 .blurb__title, .bg-gray-dark .blurb__title, .bg-gray-base .blurb__title, .bg-gray-darker .blurb__title, .bg-image-6 .blurb__title {
	color: #fff;
}

.context-dark .blurb-circle, .bg-primary .blurb-circle,
.bg-secondary-7 .blurb-circle, .bg-gray-dark .blurb-circle, .bg-gray-base .blurb-circle, .bg-gray-darker .blurb-circle, .bg-image-6 .blurb-circle, .context-dark .blurb-circle .blurb-circle__icon .icon, .bg-primary .blurb-circle .blurb-circle__icon .icon,
.bg-secondary-7 .blurb-circle .blurb-circle__icon .icon, .bg-gray-dark .blurb-circle .blurb-circle__icon .icon, .bg-gray-base .blurb-circle .blurb-circle__icon .icon, .bg-gray-darker .blurb-circle .blurb-circle__icon .icon, .bg-image-6 .blurb-circle .blurb-circle__icon .icon {
	color: #fff;
}

.context-dark .blurb-minimal, .bg-primary .blurb-minimal,
.bg-secondary-7 .blurb-minimal, .bg-gray-dark .blurb-minimal, .bg-gray-base .blurb-minimal, .bg-gray-darker .blurb-minimal, .bg-image-6 .blurb-minimal {
	color: #888;
}

.context-dark .countdown-default .countdown-section, .bg-primary .countdown-default .countdown-section,
.bg-secondary-7 .countdown-default .countdown-section, .bg-gray-dark .countdown-default .countdown-section, .bg-gray-base .countdown-default .countdown-section, .bg-gray-darker .countdown-default .countdown-section, .bg-image-6 .countdown-default .countdown-section {
	border-color: #fff;
}

.context-dark .countdown-default .countdown-period, .bg-primary .countdown-default .countdown-period,
.bg-secondary-7 .countdown-default .countdown-period, .bg-gray-dark .countdown-default .countdown-period, .bg-gray-base .countdown-default .countdown-period, .bg-gray-darker .countdown-default .countdown-period, .bg-image-6 .countdown-default .countdown-period, .context-dark .countdown-default .countdown-amount, .bg-primary .countdown-default .countdown-amount,
.bg-secondary-7 .countdown-default .countdown-amount, .bg-gray-dark .countdown-default .countdown-amount, .bg-gray-base .countdown-default .countdown-amount, .bg-gray-darker .countdown-default .countdown-amount, .bg-image-6 .countdown-default .countdown-amount {
	color: #fff;
}

.context-dark .box-counter, .bg-primary .box-counter,
.bg-secondary-7 .box-counter, .bg-gray-dark .box-counter, .bg-gray-base .box-counter, .bg-gray-darker .box-counter, .bg-image-6 .box-counter {
	color: #fff;
}

.context-dark .box-counter__icon, .bg-primary .box-counter__icon,
.bg-secondary-7 .box-counter__icon, .bg-gray-dark .box-counter__icon, .bg-gray-base .box-counter__icon, .bg-gray-darker .box-counter__icon, .bg-image-6 .box-counter__icon {
	color: #fff;
}

.context-dark .progress-linear, .bg-primary .progress-linear,
.bg-secondary-7 .progress-linear, .bg-gray-dark .progress-linear, .bg-gray-base .progress-linear, .bg-gray-darker .progress-linear, .bg-image-6 .progress-linear, .context-dark .progress-bar-circle-title, .bg-primary .progress-bar-circle-title,
.bg-secondary-7 .progress-bar-circle-title, .bg-gray-dark .progress-bar-circle-title, .bg-gray-base .progress-bar-circle-title, .bg-gray-darker .progress-bar-circle-title, .bg-image-6 .progress-bar-circle-title, .context-dark .progress-bar-circle span, .bg-primary .progress-bar-circle span,
.bg-secondary-7 .progress-bar-circle span, .bg-gray-dark .progress-bar-circle span, .bg-gray-base .progress-bar-circle span, .bg-gray-darker .progress-bar-circle span, .bg-image-6 .progress-bar-circle span {
	color: #fff;
}

.context-dark .thumb__title, .bg-primary .thumb__title,
.bg-secondary-7 .thumb__title, .bg-gray-dark .thumb__title, .bg-gray-base .thumb__title, .bg-gray-darker .thumb__title, .bg-image-6 .thumb__title {
	color: #fff;
}

.context-dark .thumb__title a:hover, .bg-primary .thumb__title a:hover,
.bg-secondary-7 .thumb__title a:hover, .bg-gray-dark .thumb__title a:hover, .bg-gray-base .thumb__title a:hover, .bg-gray-darker .thumb__title a:hover, .bg-image-6 .thumb__title a:hover {
	color: #000;
}

.context-dark .button-gray-light-outline, .bg-primary .button-gray-light-outline,
.bg-secondary-7 .button-gray-light-outline, .bg-gray-dark .button-gray-light-outline, .bg-gray-base .button-gray-light-outline, .bg-gray-darker .button-gray-light-outline, .bg-image-6 .button-gray-light-outline {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.context-dark .button-gray-light-outline:hover, .bg-primary .button-gray-light-outline:hover,
.bg-secondary-7 .button-gray-light-outline:hover, .bg-gray-dark .button-gray-light-outline:hover, .bg-gray-base .button-gray-light-outline:hover, .bg-gray-darker .button-gray-light-outline:hover, .bg-image-6 .button-gray-light-outline:hover, .context-dark .button-gray-light-outline:focus, .bg-primary .button-gray-light-outline:focus,
.bg-secondary-7 .button-gray-light-outline:focus, .bg-gray-dark .button-gray-light-outline:focus, .bg-gray-base .button-gray-light-outline:focus, .bg-gray-darker .button-gray-light-outline:focus, .bg-image-6 .button-gray-light-outline:focus, .context-dark .button-gray-light-outline:active, .bg-primary .button-gray-light-outline:active,
.bg-secondary-7 .button-gray-light-outline:active, .bg-gray-dark .button-gray-light-outline:active, .bg-gray-base .button-gray-light-outline:active, .bg-gray-darker .button-gray-light-outline:active, .bg-image-6 .button-gray-light-outline:active, .context-dark .button-gray-light-outline:hover, .bg-primary .button-gray-light-outline:hover,
.bg-secondary-7 .button-gray-light-outline:hover, .bg-gray-dark .button-gray-light-outline:hover, .bg-gray-base .button-gray-light-outline:hover, .bg-gray-darker .button-gray-light-outline:hover, .bg-image-6 .button-gray-light-outline:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.context-light h1, .bg-gray-lighter h1, .context-light h2, .bg-gray-lighter h2, .context-light h3, .bg-gray-lighter h3, .context-light h4, .bg-gray-lighter h4, .context-light h5, .bg-gray-lighter h5, .context-light h6, .bg-gray-lighter h6, .context-light .heading-1, .bg-gray-lighter .heading-1, .context-light .heading-2, .bg-gray-lighter .heading-2, .context-light .heading-3, .bg-gray-lighter .heading-3, .context-light .heading-4, .bg-gray-lighter .heading-4, .context-light .heading-5, .bg-gray-lighter .heading-5, .context-light .heading-6, .bg-gray-lighter .heading-6 {
	color: #000;
}

@media (max-width: 1199px) {
	.context-light .parallax-header::after, .bg-gray-lighter .parallax-header::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(102, 102, 102, 0.33);
	}
}

.bg-white {
	background-color: #fff;
}

.bg-white + .bg-white.section-md,
.bg-white + .bg-white.section-lg,
.bg-white + .bg-white.section-xl {
	padding-top: 0;
}

.bg-primary .button-primary,
.bg-secondary-7 .button-primary {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.bg-primary .button-primary:hover, .bg-primary .button-primary:focus, .bg-primary .button-primary:active, .bg-primary .button-primary:hover,
.bg-secondary-7 .button-primary:hover,
.bg-secondary-7 .button-primary:focus,
.bg-secondary-7 .button-primary:active,
.bg-secondary-7 .button-primary:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.bg-primary .button-gray-base,
.bg-secondary-7 .button-gray-base {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.bg-primary .button-gray-base:hover, .bg-primary .button-gray-base:focus, .bg-primary .button-gray-base:active, .bg-primary .button-gray-base:hover,
.bg-secondary-7 .button-gray-base:hover,
.bg-secondary-7 .button-gray-base:focus,
.bg-secondary-7 .button-gray-base:active,
.bg-secondary-7 .button-gray-base:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.bg-primary .button-gray-light-outline,
.bg-secondary-7 .button-gray-light-outline {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.bg-primary .button-gray-light-outline:hover, .bg-primary .button-gray-light-outline:focus, .bg-primary .button-gray-light-outline:active, .bg-primary .button-gray-light-outline:hover,
.bg-secondary-7 .button-gray-light-outline:hover,
.bg-secondary-7 .button-gray-light-outline:focus,
.bg-secondary-7 .button-gray-light-outline:active,
.bg-secondary-7 .button-gray-light-outline:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.bg-primary .progress-linear-modern .progress-bar-linear-wrap:after,
.bg-secondary-7 .progress-linear-modern .progress-bar-linear-wrap:after {
	background: #fff;
}

.bg-primary .blurb-minimal,
.bg-primary .blurb-minimal .blurb-minimal__icon .icon,
.bg-secondary-7 .blurb-minimal,
.bg-secondary-7 .blurb-minimal .blurb-minimal__icon .icon {
	color: #fff;
}

.bg-primary {
	background-color: #000;
}

.bg-primary + .bg-primary.section-md,
.bg-primary + .bg-primary.section-lg,
.bg-primary + .bg-primary.section-xl {
	padding-top: 0;
}

.bg-secondary-7 {
	background-color: #90dfcf;
}

.bg-secondary-7 + .bg-secondary-7.section-md,
.bg-secondary-7 + .bg-secondary-7.section-lg,
.bg-secondary-7 + .bg-secondary-7.section-xl {
	padding-top: 0;
}

.bg-secondary-8 {
	background-color: #e9f9f6;
}

.bg-secondary-8 + .bg-secondary-8.section-md,
.bg-secondary-8 + .bg-secondary-8.section-lg,
.bg-secondary-8 + .bg-secondary-8.section-xl {
	padding-top: 0;
}

.bg-gray-dark {
	background-color: #333;
}

.bg-gray-dark + .bg-gray-dark.section-md,
.bg-gray-dark + .bg-gray-dark.section-lg,
.bg-gray-dark + .bg-gray-dark.section-xl {
	padding-top: 0;
}

.bg-gray-base {
	background-color: #000;
}

.bg-gray-base + .bg-gray-base.section-md,
.bg-gray-base + .bg-gray-base.section-lg,
.bg-gray-base + .bg-gray-base.section-xl {
	padding-top: 0;
}

.bg-gray-darker {
	background-color: #333;
}

.bg-gray-darker + .bg-gray-darker.section-md,
.bg-gray-darker + .bg-gray-darker.section-lg,
.bg-gray-darker + .bg-gray-darker.section-xl {
	padding-top: 0;
}

.bg-gray-base {
	background-color: #000;
}

.bg-gray-base + .bg-gray-base.section-md,
.bg-gray-base + .bg-gray-base.section-lg,
.bg-gray-base + .bg-gray-base.section-xl {
	padding-top: 0;
}

.bg-gray-base .blurb__title {
	color: #fff;
}

.bg-gray-lighter {
	background-color: #f8f8f8;
}

.bg-gray-lighter + .bg-gray-lighter.section-md,
.bg-gray-lighter + .bg-gray-lighter.section-lg,
.bg-gray-lighter + .bg-gray-lighter.section-xl {
	padding-top: 0;
}

.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bg-image-bottom {
	background-position: center bottom;
}

@media (min-width: 768px) {
	.bg-image-1 {
		background-image: url("../images/bg-image-1.jpg");
	}
}

@media (min-width: 768px) {
	.bg-image-2 {
		background-image: url("../images/bg-image-2.jpg");
	}
}

.bg-image-3 {
	background-image: url("../images/bg-image-3.jpg");
}

.bg-image-4 {
	background-image: url("../images/bg-image-4.jpg");
}

@media (min-width: 768px) {
	.bg-image-5 {
		background-image: url("../images/bg-image-5.jpg");
	}
}

.bg-image-6 {
	background-image: url("../images/bg-image-6.jpg");
}

@media (min-width: 768px) {
	.bg-image-8 {
		background-image: url("../images/bg-image-8.jpg");
	}
}

@media (min-width: 768px) {
	.bg-image-9 {
		background-image: url("../images/bg-image-9.jpg");
	}
}

@media (min-width: 992px) {
	.desktop .bg-fixed {
		background-attachment: fixed;
	}
}

/*
*
* Text Alignment
* --------------------------------------------------
*/
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-middle {
	vertical-align: middle;
}

@media (min-width: 480px) {
	html:not(.lt-ie10) .text-xs-left {
		text-align: left;
	}
	html:not(.lt-ie10) .text-xs-center {
		text-align: center;
	}
	html:not(.lt-ie10) .text-xs-right {
		text-align: right;
	}
	html:not(.lt-ie10) .text-xs-justify {
		text-align: justify;
	}
}

@media (min-width: 768px) {
	html:not(.lt-ie10) .text-sm-left {
		text-align: left;
	}
	html:not(.lt-ie10) .text-sm-center {
		text-align: center;
	}
	html:not(.lt-ie10) .text-sm-right {
		text-align: right;
	}
	html:not(.lt-ie10) .text-sm-justify {
		text-align: justify;
	}
}

@media (min-width: 992px) {
	html:not(.lt-ie10) .text-md-left {
		text-align: left;
	}
	html:not(.lt-ie10) .text-md-center {
		text-align: center;
	}
	html:not(.lt-ie10) .text-md-right {
		text-align: right;
	}
	html:not(.lt-ie10) .text-md-justify {
		text-align: justify;
	}
}

@media (min-width: 1200px) {
	html:not(.lt-ie10) .text-lg-left {
		text-align: left;
	}
	html:not(.lt-ie10) .text-lg-center {
		text-align: center;
	}
	html:not(.lt-ie10) .text-lg-right {
		text-align: right;
	}
	html:not(.lt-ie10) .text-lg-justify {
		text-align: justify;
	}
}

/*
*
* Text styling
* --------------------------------------------------
*/
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

.text-thin {
	font-weight: 100;
}

.text-light {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.text-medium {
	font-weight: 500;
}

.text-sbold {
	font-weight: 600;
}

.text-bold, strong {
	font-weight: 700;
}

.text-ubold {
	font-weight: 900;
}

.text-spacing-0 {
	letter-spacing: 0;
}

/*
*
* Visibility Responsive
* --------------------------------------------------
*/
.reveal-block {
	display: block !important;
}

.reveal-inline-block {
	display: inline-block !important;
}

.reveal-inline {
	display: inline !important;
}

.reveal-flex {
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
}

.veil {
	display: none !important;
}

@media (min-width: 480px) {
	.reveal-xs-block {
		display: block !important;
	}
	.reveal-xs-inline-block {
		display: inline-block !important;
	}
	.reveal-xs-inline {
		display: inline !important;
	}
	.reveal-xs-flex {
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	}
	.veil-xs {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.reveal-sm-block {
		display: block !important;
	}
	.reveal-sm-inline-block {
		display: inline-block !important;
	}
	.reveal-sm-inline {
		display: inline !important;
	}
	.reveal-sm-flex {
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	}
	.veil-sm {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.reveal-md-block {
		display: block !important;
	}
	.reveal-md-inline-block {
		display: inline-block !important;
	}
	.reveal-md-inline {
		display: inline !important;
	}
	.reveal-md-flex {
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	}
	.veil-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.reveal-lg-block {
		display: block !important;
	}
	.reveal-lg-inline-block {
		display: inline-block !important;
	}
	.reveal-lg-inline {
		display: inline !important;
	}
	.reveal-lg-flex {
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	}
	.veil-lg {
		display: none !important;
	}
}

@media (min-width: 1600px) {
	.reveal-xl-block {
		display: block !important;
	}
	.reveal-xl-inline-block {
		display: inline-block !important;
	}
	.reveal-xl-inline {
		display: inline !important;
	}
	.reveal-xl-flex {
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
	}
	.veil-xl {
		display: none !important;
	}
}

/*
*
* Element groups
* --------------------------------------------------
*/
html .page .group {
	transform: translateY(-20px);
	margin-bottom: -20px;
	margin-left: -15px;
}

html .page .group > *, html .page .group > *:first-child {
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
	vertical-align: middle;
}

html .page .group-xs {
	transform: translateY(-5px);
	margin-bottom: -5px;
	margin-left: -15px;
}

html .page .group-xs > *, html .page .group-xs > *:first-child {
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	vertical-align: middle;
}

html .page .group-lg {
	transform: translateY(-15px);
	margin-bottom: -15px;
	margin-left: -27px;
}

html .page .group-lg > *, html .page .group-lg > *:first-child {
	display: inline-block;
	margin-top: 15px;
	margin-left: 27px;
	vertical-align: middle;
}

html .page .group-xl {
	transform: translateY(-27px);
	margin-bottom: -27px;
	margin-left: -27px;
}

html .page .group-xl > *, html .page .group-xl > *:first-child {
	display: inline-block;
	margin-top: 27px;
	margin-left: 27px;
	vertical-align: middle;
}

html .page .group-top > *, html .page .group-top > *:first-child {
	vertical-align: top;
}

html .page .group-middle {
	vertical-align: middle;
}

html .page .group-middle > * {
	vertical-align: middle;
}

html .page .group-bottom > *, html .page .group-bottom > *:first-child {
	vertical-align: bottom;
}

.section-xs,
.section-sm {
	padding: 35px 0;
}

.section-md,
.section-lg,
.section-xl {
	padding: 60px 0;
}

.section-xxl {
	padding: 75px 0;
}

.section-collapse + .section-collapse {
	padding-top: 0;
}

@media (max-width: 767px) {
	.section-xs:first-of-type,
	.section-sm:first-of-type,
	.section-md:first-of-type,
	.section-lg:first-of-type,
	.section-xl:first-of-type {
		padding-top: 40px;
	}
}

@media (min-width: 768px) {
	.section-xs {
		padding: 50px 0;
	}
	.section-sm {
		padding: 60px 0;
	}
	.section-md {
		padding: 70px 0;
	}
	.section-lg {
		padding: 80px 0;
	}
	.section-xl {
		padding: 95px 0;
	}
	.section-alternate-1 {
		padding: 90px 0;
	}
}

@media (min-width: 992px) {
	.section-md {
		padding: 90px 0;
	}
	.section-lg {
		padding: 100px 0;
	}
	.section-xl {
		padding: 130px 0;
	}
}

@media (min-width: 1200px) and (min-height: 800px) {
	.section-md {
		padding: 100px 0;
	}
	.section-lg {
		padding: 135px 0;
	}
	.section-xl {
		padding: 190px 0;
	}
	.section-xl.section-xl_bigger {
		padding-top: 240px;
		padding-bottom: 240px;
	}
	.section-xxl {
		padding: 165px 0 190px;
	}
	.section-xs:first-of-type,
	.section-sm:first-of-type,
	.section-md:first-of-type,
	.section-lg:first-of-type {
		padding-top: 140px;
	}
}

.section-divided__main > *:first-child,
.section-divided__aside > *:first-child {
	padding-top: 0;
}

.section-divided__main > *:last-child {
	padding-bottom: 0;
}

.section-divided__main [class*='section']:nth-child(n + 2),
.section-divided__aside [class*='section']:nth-child(n + 2) {
	border-top: 1px solid #ececee;
}

.section-divided__aside h5 + *,
.section-divided__aside .heading-5 + * {
	margin-top: 23px;
}

.section-divided__aside * + h5 {
	margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.section-divided__aside {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -25px;
		margin-right: -25px;
	}
	.section-divided__aside > [class*='section'] {
		width: calc(50% - 50px);
		margin-left: 25px;
		margin-right: 25px;
	}
	.section-divided__aside > [class*='section']:nth-child(2) {
		padding-top: 0;
		border-top: 0;
	}
	.section-divided__aside > .section-style-1 {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.section-divided__aside > * {
		max-width: 370px;
		margin-left: 50px;
	}
}

@media (min-width: 1200px) {
	.section-divided__aside.section__aside-left > * {
		margin-left: 0;
		margin-right: 50px;
	}
}

@media (min-width: 1200px) {
	.section-divided__aside-left {
		position: relative;
	}
	.section-divided__aside-left:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 25px;
		content: "";
		display: inline-block;
		border-left: 1px solid #ececee;
	}
}

@media (min-width: 1200px) {
	.section-divided__main-left {
		position: relative;
	}
	.section-divided__main-left:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -25px;
		content: "";
		display: inline-block;
		border-left: 1px solid #ececee;
	}
}

.fullwidth-page {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
}

.fullwidth-page .section-sm {
	padding: 60px 0;
}

.fullwidth-page > * {
	flex-basis: 100%;
}

.fullwidth-page * + .countdown {
	margin-top: 45px;
}

.fullwidth-page * + h5 {
	margin-top: 35px;
}

@media (min-width: 768px) {
	.fullwidth-page * + h5 {
		margin-top: 55px;
	}
}

.ie-10 .fullwidth-page,
.ie-11 .fullwidth-page {
	white-space: nowrap;
}

.ie-10 .fullwidth-page > *,
.ie-11 .fullwidth-page > * {
	display: inline-block;
	width: 100%;
	white-space: normal;
}

.ie-10 .fullwidth-page::after,
.ie-11 .fullwidth-page::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	min-height: inherit;
}

.section-limit {
	max-width: 1850px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
}

/*
*
* Offsets
* --------------------------------------------------
*/
* + p {
	margin-top: 16px;
}

p + * {
	margin-top: 22px;
}

p + p {
	margin-top: 16px;
}

h2 + h6,
h3 + h6 {
	margin-top: 23px;
}

p + h4 {
	margin-top: 45px;
}

h1 + h4 {
	margin-top: 25px;
}

h4 + h2,
h2 + h4 {
	margin-top: 25px;
}

* + .list-xs {
	margin-top: 16px;
}

* + .list-small {
	margin-top: 15px;
}

* + .list-md {
	margin-top: 20px;
}

* + .list-marked, * + .list-marked-primary {
	margin-top: 15px;
}

* + .list-ordered {
	margin-top: 15px;
}

* + .list-linked {
	margin-top: 23px;
}

* + .quote-centered {
	margin-top: 25px;
}

* + .group-lg {
	margin-top: 35px;
}

* + .figure {
	margin-top: 30px;
}

* + [class*=list-inline-] {
	margin-top: 38px;
}

* + .rd-mailform {
	margin-top: 38px;
}

* + .contact-info {
	margin-top: 30px;
}

* + .table-responsive {
	margin-top: 25px;
}

* + .blurb-minimal {
	margin-top: 40px;
}

* + .quote-default {
	margin-top: 40px;
}

h5 + p,
.heading-5 + p {
	margin-top: 18px;
}

h6 + p,
.heading-6 + p {
	margin-top: 10px;
}

.icon-xxl + h3,
.icon-xxl + .heading-3 {
	margin-top: 35px;
}

@media (min-width: 768px) {
	h4 + .range {
		margin-top: 55px;
	}
}

.range + .range {
	margin-top: 40px;
}

h1 + h3,
.heading-1 + h3,
h1 + .heading-3,
.heading-1 + .heading-3 {
	margin-top: 20px;
}

h2 + h5,
.heading-2 + h5,
h2 + .heading-5,
.heading-2 + .heading-5 {
	margin-top: 15px;
}

h3 + .owl-carousel,
.heading-3 + .owl-carousel {
	margin-top: 35px;
}

.blurb-minimal + .blurb-minimal {
	margin-top: 35px;
}

@media (min-width: 768px) {
	.post-event + .divider-wrap,
	.divider-wrap + .post-event {
		margin-top: 55px;
	}
}

.table-responsive + .range {
	margin-top: 50px;
}

@media (min-width: 992px) {
	* + p {
		margin-top: 28px;
	}
	* + .quote-centered {
		margin-top: 50px;
	}
	* + .figure {
		margin-top: 40px;
	}
	* + .group-lg {
		margin-top: 50px;
	}
}

@media (min-width: 1200px) {
	* + .quote-default {
		margin-top: 65px;
	}
	.range + .range {
		margin-top: 60px;
	}
}

html .page * + .offset-top-1 {
	margin-top: 35px;
}

html .range-10 {
	transform: translate3d(0, -10px, 0);
	margin-bottom: -10px;
	pointer-events: none;
}

html .range-10 > * {
	margin-top: 10px;
	pointer-events: auto;
}

html .range-10 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-20 {
	transform: translate3d(0, -20px, 0);
	margin-bottom: -20px;
	pointer-events: none;
}

html .range-20 > * {
	margin-top: 20px;
	pointer-events: auto;
}

html .range-20 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-30 {
	transform: translate3d(0, -30px, 0);
	margin-bottom: -30px;
	pointer-events: none;
}

html .range-30 > * {
	margin-top: 30px;
	pointer-events: auto;
}

html .range-30 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-both-30 {
	margin-left: -15px;
	margin-right: -15px;
	transform: translate3d(0, -30px, 0);
	margin-bottom: -30px;
	pointer-events: none;
}

html .range-both-30 > * {
	margin-top: 30px;
	pointer-events: auto;
}

html .range-both-30 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-both-30 > [class*='cell'] {
	padding-left: 15px;
	padding-right: 15px;
}

html .range-50 {
	transform: translate3d(0, -50px, 0);
	margin-bottom: -50px;
	pointer-events: none;
}

html .range-50 > * {
	margin-top: 50px;
	pointer-events: auto;
}

html .range-50 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-60 {
	transform: translate3d(0, -50px, 0);
	margin-bottom: -50px;
	pointer-events: none;
}

html .range-60 > * {
	margin-top: 50px;
	pointer-events: auto;
}

html .range-60 > *::before {
	content: '';
	display: table;
	width: 0;
}

html .range-70 {
	transform: translate3d(0, -50px, 0);
	margin-bottom: -50px;
	pointer-events: none;
}

html .range-70 > * {
	margin-top: 50px;
	pointer-events: auto;
}

html .range-70 > *::before {
	content: '';
	display: table;
	width: 0;
}

@media (min-width: 768px) {
	html .range-60 {
		transform: translate3d(0, -60px, 0);
		margin-bottom: -60px;
	}
	html .range-60 > * {
		margin-top: 60px;
	}
	html .range-70 {
		transform: translate3d(0, -70px, 0);
		margin-bottom: -70px;
	}
	html .range-70 > * {
		margin-top: 70px;
	}
	html .range-sm-75 {
		transform: translate3d(0, -75px, 0);
		margin-bottom: -75px;
	}
	html .range-sm-75 > * {
		margin-top: 75px;
	}
}

@media (min-width: 992px) {
	html .range-md-90 {
		transform: translate3d(0, -90px, 0);
		margin-bottom: -90px;
	}
	html .range-md-90 > * {
		margin-top: 90px;
	}
}

@media (min-width: 1200px) and (min-height: 800px) {
	html .range-70 {
		transform: translate3d(0, -70px, 0);
		margin-bottom: -70px;
	}
	html .range-70 > * {
		margin-top: 70px;
	}
}

@media (min-width: 1600px) {
	html .range-xl-50 {
		transform: translate3d(0, -50px, 0);
		margin-bottom: -50px;
	}
	html .range-xl-50 > * {
		margin-top: 50px;
	}
	html .range-xl-both-50 {
		margin-left: -50px;
		margin-right: -50px;
		transform: translate3d(0, -50px, 0);
		margin-bottom: -50px;
	}
	html .range-xl-both-50 > * {
		margin-top: 50px;
	}
	html .range-xl-both-50 > [class*='cell'] {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.height-fill {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.height-fill > * {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.block-top-level {
	position: relative;
	z-index: 10;
}

.block-centered {
	margin-left: auto;
	margin-right: auto;
}

.text-width-1 {
	max-width: 540px;
}

.text-width-2 {
	max-width: 620px;
}

.grid-4 {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	max-width: 370px;
	position: relative;
	transform: translate3d(0, -10px, 0);
	margin-bottom: -10px;
	margin-left: -4px;
	margin-right: -4px;
}

.grid-4 > * {
	position: relative;
	margin-top: 10px;
	padding-left: 4px;
	padding-right: 4px;
}

.grid-4 > * {
	width: 25%;
}

@media (min-width: 992px) {
	.object-displacement-1 {
		margin-top: -45px;
	}
}

@media (min-width: 1600px) {
	.row.range-50 {
		margin-left: -25px;
		margin-right: -25px;
	}
	.row.range-50 > [class*='col-'] {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.object-wrap {
	position: relative;
	overflow: hidden;
}

@media (max-width: 991px) {
	.object-wrap__body {
		height: 33vw;
		min-height: 200px;
	}
}

@media (min-width: 992px) {
	.object-wrap__body {
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100vw;
		min-width: 1px;
		max-width: none;
		height: 100%;
		min-height: 100%;
		max-height: none;
		margin: 0;
		z-index: 0;
	}
	.object-wrap__body + * {
		margin-top: 0;
	}
	.object-wrap__body.object-wrap__body-md-right {
		right: 0;
	}
	.object-wrap__body.object-wrap__body-md-left {
		left: 0;
	}
}

@media (min-width: 992px) {
	.object-wrap__body-sizing-1 {
		width: 50vw;
	}
}

.gallery-wrap {
	transform: translate3d(0, -10px, 0);
	margin-bottom: -10px;
	pointer-events: none;
}

.gallery-wrap > * {
	margin-top: 10px;
	pointer-events: auto;
}

.gallery-wrap > *::before {
	content: '';
	display: table;
	width: 0;
}

@media (min-width: 768px) {
	.gallery-wrap {
		transform: translate3d(0, -30px, 0);
		margin-bottom: -30px;
	}
	.gallery-wrap > * {
		margin-top: 30px;
	}
}

@media (min-width: 1600px) {
	.gallery-wrap {
		transform: translate3d(0, -50px, 0);
		margin-bottom: -50px;
	}
	.gallery-wrap > * {
		margin-top: 50px;
	}
}

@media (max-width: 767px) {
	.gallery-wrap.row {
		margin-left: -5px;
		margin-right: -5px;
	}
	.gallery-wrap.row > [class*='col-'] {
		padding-left: 5px;
		padding-right: 5px;
	}
}